.header {
      box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
}

.headerSearchInput input{
      width: 650px;
      padding-left: 35px;
      border: 1px solid #000;
      border-radius: 100px;
      height: 50px;
}

.headerSearchInput svg {
      margin-right: -25px;
      z-index: 3;
      cursor: not-allowed;
}

.login {
      border: 1px solid #000;
      width: 80px;
      height: 40px;
      background-color: #fff;
      margin: 0 5px;
      font-weight: 700;
}

.login a {
      line-height: 38.4px;
}

.signup {
      background-color: #000;
      color: #fff;
}

.languages {
      line-height: 40px;
}

.languages svg{
      margin-top: 8px;
}
p {
      font-size: 15px;
}